#loaderContainerContactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

#contactus8 {
  width: 100%;
  height: 25.6rem;
  /* margin-top: 0.8rem; */
  margin-bottom: 1.4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0px;
  background: #fff;
  margin-top: 1rem;
  border-radius: 1.4rem;
  border: 3px solid #0b3ed9;
}
#contactus9 {
  background-image: linear-gradient(#fff, #02dfc9);
}
#contactus10 {
  background-color: #fff;
  margin: 1.4rem 0rem 1.4rem 0rem;
  border-radius: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}
.iconsName {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #362989;
  font-family: Exo;
}
#icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactus13 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#contactus14 {
  padding-bottom: 1rem;
}

#mapContainer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0px;
  background: #fff;
  margin-top: 1rem;
  border-radius: 1.4rem;
  border: 3px solid #0b3ed9;
}

@media only screen and (max-width: 600px) {
  #contactus8 {
    width: 100%;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0px;
    background: #fff;
    margin-top: 1rem;
    border-radius: 1.4rem;
    border: 3px solid #0b3ed9;
  }
}
