#mylogo {
  width: 2.5rem;
}
#navbar {
  font-size: 1rem;
  font-family: "Exo";
  color: #0b3ed9;
  font-weight: bold;
}
#navbar2 {
  font-size: 1rem;
  font-family: "Exo";
  color: #e47013;
  font-weight: bold;
}
#row1 {
  margin-top: 3rem;
}
#image2 {
  height: 5rem;
}
#div1 {
    color:#0B3ED9;
    font-weight: 700;
    font-size: 25px;
    font-family: Exo;
}
#div2{
    font-family: inter;
}
