#backgndImgHome {
  width: 100%;
  height: 70vh;
  position: relative;
  background-size: cover;
}

#home1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: small;
  line-height: 1rem;
  color: #dfb946;
}

#home2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

#home3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: medium;
  line-height: 1.2rem;

  color: #ffffff;
}

#home4 {
  margin-top: 1.5rem;
}

.seeall {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: medium;
  background-color: #dfb946;
  color: #ffffff;
  border-radius: 1px;
  margin-bottom: 1rem;
  overflow: hidden;
  /* position: relative; */
  transition: 1s ease;
}

.seeall:hover {
  color: #dfb946;
  background-color: #ffffff;
  transition: background-color 2s ease;
}

#home5 {
  background: #fff9e7;
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

#home6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: smaller;
  line-height: 1rem;
  color: #414042;
  cursor: pointer;
}

#home6:hover {
  color: #f93c01;
}

#jbsImg {
  width: 4rem;
  margin-right: 1rem;
}

#shareicondiv {
  width: 2rem;
  height: 2rem;
  background: #47220e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#shareicon {
  font-size: medium;
  color: #fff9e7;
}

#home7 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* cursor: pointer; */
}

#home8 {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: xx-large;
  line-height: 1.5rem;
  color: #000000;
  margin-bottom: 2rem;
}

#home9 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: smaller;
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}

#home10 {
  background: #eef1f2;
}

#home11 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: xx-large;
  line-height: 1.5rem;
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}

#home12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home13 {
  display: flex;
  justify-content: flex-end;
}

#home14 {
  object-fit: contain;
}

#home15 {
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

#home15:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

#carouselImg {
  height: 8rem;
  width: 80%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #backgndImgHome {
    width: 100%;
    height: 70vh;
    position: relative;
    background-size: cover;
  }
  #backgndImgTxtDivHome {
    position: absolute;
    top: 10rem;
    left: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #backgndImgHome {
    width: 100%;
    height: 55vh;
    position: relative;
    background-size: cover;
  }

  #backgndImgTxtDivHome {
    position: absolute;
    top: 15rem;
    left: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #backgndImgHome {
    width: 100%;
    height: 50vh;
    position: relative;
    background-size: cover;
  }
  #backgndImgTxtDivHome {
    position: absolute;
    top: 8rem;
    left: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #backgndImgHome {
    width: 100%;
    height: 70vh;
    position: relative;
    background-size: cover;
  }
  #backgndImgTxtDivHome {
    position: absolute;
    top: 12rem;
    left: 6rem;
  }
  #home2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    color: #ffffff;
    margin-bottom: 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #backgndImgHome {
    width: 100%;
    height: 80vh;
    position: relative;
    background-size: cover;
  }
  #backgndImgTxtDivHome {
    position: absolute;
    top: 12rem;
    left: 6rem;
  }
  #home2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1800px) {
  #backgndImgHome {
    width: 100%;
    height: 80vh;
    position: relative;
    background-size: cover;
  }
  #backgndImgTxtDivHome {
    position: absolute;
    top: 12rem;
    left: 6rem;
  }
  #home2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    color: #ffffff;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  #jbsImg {
    width: 2rem;
    margin-right: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  #jbsImg {
    width: 2rem;
    margin-right: 0.2rem;
  }
}

/* carousel classes */
.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ececec;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}
#shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.img-circle {
  border-radius: 50%;
  vertical-align: middle;
  max-width: 90px;
  min-height: 90px;
  transform-style: preserve-3d;
  margin: 0 auto 17px;
}
#customer-testimonoals {
  margin-top: 2rem;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  /* background: linear-gradient(100deg, #845EC2, #BE93FD); */
  background: linear-gradient(100deg, #ff8066, #ff918d);
  /* background: linear-gradient(135deg, #ff3e00, #eaa400); */
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
}
#customer-testimonoals .item {
  text-align: center;
  padding: 0px 2rem 2rem 2rem;
  margin-bottom: 0px;
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}
#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #56423d;
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}
.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
.owl-carousel .owl-dots .owl-dot span {
  /* background: #eaa400; */
  background: #56423d;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
}

#home16{
  text-decoration: none;
}