#mylogo {
  height: 2.5rem;
}
#navbar {
  font-size: 1rem;
  font-family: "Exo";
  color: #0b3ed9;
  font-weight: bold;
}

#navbar1 {
  font-size: 1rem;
  font-family: "Exo";
  color: #44c1f2;
  font-weight: bold;
}

#navbar3 {
  font-size: 1rem;
  font-family: "Exo";
  color: #e47013;
  font-weight: bold;
}
#mainimage {
  width: 100%;
}
#fimage {
  width: 100%;
  margin-top: 3rem;
}
#col2 {
  margin-top: 3rem;
  padding-left: 1rem;
}
#myrow {
  color: #483999;
  font-weight: bold;
  font-family: "Exo";
  font-size: 41px;
  padding-left: 1rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
#myrow2 {
  padding-left: 1rem;
  font-family: "Exo";
  padding-top: 0.9rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
#mybtn {
  background-color: #483999;
  font-family: "Exo";
  margin-top: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#div1 {
  color: #483999;
  font-family: "Exo";
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}
#mydiv {
  text-align: center;
  font-family: "Exo";
}
#col3 {
  text-align: center;
  border: 1px solid black;
}
#col4 {
  text-align: center;
  border: 1px solid black;
}
#col5 {
  text-align: center;
  border: 1px solid black;
}
#mydiv3 {
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  margin-top: 1rem;
  background-color: #e47013;
  color: white;
  font-family: "Exo";
}
#mydiv4 {
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  margin-top: 1rem;
  background-color: #0b3ed9;
  color: white;
  font-family: "Exo";
}
#numberdiv{
  font-weight: bold;
  font-size: 30px;

}