#service1{
width: 100%;
}
#service2{
color: #DFB946;
margin-top: 2rem;
font-size: x-large;
}
#service3{
margin-top: 2rem;
width: 100%;
}
#service4{
margin-top: 2rem;
text-align: justify;
}
#service5{
    padding: 0;
}