#register1{
    max-width: 25rem;
    margin: auto;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-left: 1rem ;
    padding-right: 1rem;
    min-height: 50vh;
}
#register2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
#register3{
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to left, #243972 , #14234A);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#register4{
    margin-bottom: 0.8rem;
}
#register5{
    height: 2.5rem;
}
#register6{
    text-align: center;
    width: 15rem;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
}
#register7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;  
}
#register8{
    margin-left:0.5rem ;
    color: rgb(38, 110, 235);
    cursor: pointer;
}