#header2_1 {
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
}
#linkh {
    text-decoration: none;
    color: black;
}
#header2_2 {
    border: none;
    font-weight: 500;
    font-size: 0.9rem;
    padding-top: 0;
}