#mylogo{
    width:2.5rem;
}
#navbar{
    font-family: inter;
    font-weight:bold;
    color:black;
}
#navbar:hover{
    border-bottom: 0.3rem solid #E47013;
    border-radius: 0.4rem;
}
#row1{
    font-weight:bold;
    color:black;
    border-bottom: 0.3rem solid #E47013;
    margin-top: 2rem;
    font-size: 20px;
    font-family: inter;
}
/* #col1{
    background: linear-gradient(129.98deg, #0B3ED9 28%, #44C1F2 104.57%);
    margin-top: 2rem;
    border-radius: 9px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: inter;
}
#div1{
     border:1px solid white;
     border-radius: 13px;
     padding-left:1rem;
     padding-right: 1rem;
     padding-bottom: 0.6rem;
     padding-top: 0.6rem;
}
#row2{
    color:white;
    font-family: inter;
}
#col2{
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family: inter;
}
#col3{
    color:white;
    font-size: 15px;
    font-family: inter;
}
#row3{
background-color: black;
margin-top: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 1rem;
padding-right: 1rem;
border-radius: 13px;
}
#row4{
color:white;
padding-left: 1rem;
font-family: inter;
}
#row5{
color:white;
padding-left: 1rem;
font-weight: 600;
font-family: inter;
font-size: 30px;
}
#mybtn{
    color:#0B3ED9;
    font-family: inter;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 2rem;
}

#mybtn{
    width:100%;
    margin-top: 1rem;
    border-radius: 30px;
    text-align: center;
    font-family:inter;
} */