#get1{
    height:27rem;
    padding: 0px;
    margin: 0px;
}
#get2{
    color:#DFB946;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Raleway";
}
#get3{
    margin-top: 1.5rem;
    padding: 1.5rem;
    font-family: "Raleway";
}
#get4{
    margin-top: 0.9rem;
    font-family: "Raleway";
}
#get6{
    margin-top: 0.5rem;
    font-family: "Raleway";
}
#get7{
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: "Raleway";
}
#get8{
   margin-top: 1.5rem;
   font-family: "Raleway";
}
#get9{
    margin-top: 1.5rem;
    background-color: #DFB946;
    border: none;
    font-family: "Raleway";
}
#get20{
    border: 1.5px solid black;
    border-radius: 0%;
    font-family: "Raleway";
}
#get21{
    border: 1.5px solid black;
    border-radius: 0%;  
    margin-top: 1rem;
    font-family: "Raleway";
}
#get22{
    border: 1.5px solid black;
    border-radius: 0%;  
    margin-top: 1rem;
    font-family: "Raleway";
}
#fluid1{
    padding: 0px;
    margin: 0px;
}