#mydiv3 {
    text-align: center;
    border-radius: 5px;
    padding: 25px;
    margin-top: 1rem;
    background-color: #e47013;
    color: white;
    font-family: "Exo";
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mydiv4 {
    text-align: center;
    border-radius: 5px;
    padding: 25px;
    margin-top: 1rem;
    background-color: #0b3ed9;
    color: white;
    font-family: "Exo";
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #style{
    font-size: 1.5rem;
  }