#history1 {
  margin-top: 3rem;
  color: #fea900;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: poppins;
}
#history7 {
  color: #132b83;
  font-size: 1.3rem;
}
#history6 {
  background-color: white;
  color: #186ff7;
  border: none;
  font-weight: 700;
}
#history3{
    margin-top: 1rem;
}
