#dashboardcontent1 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
#dashboardcontent2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}