#mylogo {
  height: 2.5rem;
}

#mainimage {
  width: 100%;
  padding: 0px;
  height: 70vh;
}

#navbar {
  font-size: 1rem;
  font-family: "Exo";
  color: #0b3ed9;
  font-weight: bold;
}

#navbar1 {
  font-size: 1rem;
  font-family: "Exo";
  color: #44c1f2;
  font-weight: bold;
}

#navbar3 {
  font-size: 1rem;
  font-family: "Exo";
  color: #e47013;
  font-weight: bold;
}

#col2 {
  text-align: center;
  margin-top: 2rem;
  font-family: Exo;
  color: #085ca6;
  font-size: 30px;
  font-weight: bold;
}

#col3 {
  text-align: center;
  font-family: "Exo";
  color: black;
  padding-top: 1rem;
}

#bid {
  width: 30rem;
  margin-top: 2rem;
}

#mylogo {
  width: 2.5rem;
}

#col1 {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #1f2230;
  border-bottom: 3px solid #e47013;
}

#div1 {
  margin-top: 2rem;
  border-radius: 5px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

#con1 {
  background-color: white;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
}

#Thirddiv {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

#lastdiv {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

#bids {
  margin-left: 1rem;
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  letter-spacing: 0.01em;
}

h3 {
  color: white;
  font-family: "Exo";
}

#div3 {
  color: black;
  font-family: "Exo";
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 600;
}

#div4 {
  color: black;
  font-family: "Exo";
  font-size: 1rem;
  padding-left: 1.7rem;
  font-weight: 600;
  margin-top: 0.3rem;
}

#btn {
  background-color: #e47013;
  width: 9rem;
  margin-left: 1.8rem;
  margin-top: 0.7rem;
}

.footer {
  background-color: #000718;
}

.myfooter {
  padding: 30px;
  margin-top: 30px;
}

#mylogo {
  height: 2.5rem;
}

#mylogo2 {
  width: 90px;
  height: 90px;
  margin-top: 45px;
}

#home7 {
  text-align: center;
  font-family: "Exo";
  color: #000099;
}

#style {
  font-family: "Exo";
  color: white;
}

#codekart {
  text-align: center;
  color: white;
  font-family: "Exo";
  padding-bottom: 10px;
}
