#projectdashboard1 {
  background-color: #0b3ed9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 3rem;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#projectdashboard2 {
  /* background-color: #E47013; */
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: exo;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
#projectdashboard4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileContainer {
  background-color: #f2f2f2;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
