*{
    font-family: poppins;
}

#alltransaction2{
    box-shadow: none;
    background-color: #FF9800;
}
#alltransaction3{
    box-shadow: none;
    background-color: #19B176;
    align-items: center;
    justify-content: center;
}
#paymentdetails2{
    box-shadow: none;
    background-color: #FF9800;
}