#col1{
    background: linear-gradient(129.98deg, #0B3ED9 28%, #44C1F2 104.57%);
    margin-top: 2rem;
    border-radius: 9px;
   padding: 2rem;
    font-family: inter;
}
#div1{
     border:1px solid white;
     border-radius: 13px;
     padding-left:1rem;
     padding-right: 1rem;
     padding-bottom: 0.6rem;
     padding-top: 0.6rem;
}
#row2{
    color:white;
    font-family: inter;
}
/* #col2{
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family: inter;
}
#col3{
    color:white;
    font-size: 15px;
    font-family: inter;
} */
#day1{
    font-family: inter;
    color:white;
    font-weight: bold;
    font-size: 1.3rem;
   
}
#day2{
    font-family: inter;
    color:white;
    font-weight: bold;
    font-size: 0.7rem;
}
#row3{
background-color: black;
margin-top: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 1rem;
padding-right: 1rem;
border-radius: 13px;
}
#row4{
color:white;
padding-left: 1rem;
font-family: inter;
}
#row5{
color:white;
padding-left: 1rem;
font-weight: 600;
font-family: inter;
font-size: 30px;
}
#mybtn{
    color:#0B3ED9;
    font-family: inter;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 2rem;
    width:100%;
}
