#locationcomp3{
    width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
}
#locationcomp2{
    margin-top: .3rem;
    font-family: "Exo";
    color: #0B3ED9;
    font-weight: 700;
    font-size: xx-large;
}
#locationcomp4{
    
    display: flex;
    align-items: center;
    margin-top: .3rem;
    font-family: "Exo";
    color: #0B3ED9;
    font-weight: 700;
    font-size: medium;
    
}

@media only screen and (max-width: 600px) {
    #locationcomp2 {
     margin-top: 1.3rem;
    }
    #locationcomp3{
        width: 100%;
        padding: 1.3rem;
    }
  }