#mylogo{
    width:2.5rem;
}
#col1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 1.4rem;
line-height: 39px;
letter-spacing: 0.01em;
color: #1F2230;
border-bottom: 3px solid #E47013;
}
#div1{
    
    margin-top: 2rem;
    
    border-radius:5px;
    background: linear-gradient(129.98deg, #0B3ED9 28%, #44C1F2 104.57%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-left: 1.2rem;
padding-right: 1.2rem;
padding-top: 1.2rem;
padding-bottom: 1rem;
}
#con1{
    border:1px solid white;
    padding-left:1.2rem;
    padding-right:1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    color: white;
}
#Thirddiv{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.1rem;
text-align: center;
letter-spacing: 0.01em;


}
#lastdiv{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 0.7rem;
text-align: center;
letter-spacing: 0.01em;

}
#bids{
margin-left: 1rem;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 0.8rem;
line-height: 18px;
letter-spacing: 0.01em;  
}
h3{
    color:white;
}
#div2{
    background-color: black;
    color:white;
    margin-top:1rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
}
#div3{
    color:white;
    font-family: 'Inter';
    font-size: 1.5rem;
}
#btn{
    background-color: white;
    color:blue;
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
    font-family: 'Inter';
}